@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<center><h3>Take Quiz</h3></center>

<div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="question">Question:</label>
                    <input type="text" class="form-control" id="question" name="question" placeholder="Enter the question" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="answer1">Answer 1:</label>
                    <input type="text" class="form-control" id="answer1" name="answer1" placeholder="Enter answer 1" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="answer2">Answer 2:</label>
                    <input type="text" class="form-control" id="answer2" name="answer2" placeholder="Enter answer 2" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="answer3">Answer 3:</label>
                    <input type="text" class="form-control" id="answer3" name="answer3" placeholder="Enter answer 3" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="answer4">Answer 4:</label>
                    <input type="text" class="form-control" id="answer4" name="answer4" placeholder="Enter answer 4" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="correctAnswer">Correct Answer:</label>
                    <input type="text" class="form-control" id="correctAnswer" name="correctAnswer" placeholder="Enter the correct answer" />
                </div>
                </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                    </div>

        </div>

